.skills-bar{
	margin-bottom: 30px;
	margin-top: 30px;
}
.skills-bar .bar{
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 10% 90%;
}

.skills-bar .bar:first-child{
	margin-top: 2px;
}
.skills-bar .bar .info span{
	font-size: 20px;
	font-weight:800;
	opacity: 0;
	animation: showtext 0.5s 1s linear forwards;
}
@keyframes showtext{
	100%{
		opacity: 1;
	}
}
.skills-bar .bar .progress-line{
	position: relative;
	height: 20px;
	width: 100%;
	background-color: #ccc;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
	box-shadow: 0px 0px 10px #ddd;
}
.bar .progress-line span{
	position: absolute;
	height: 100%;
	width: 50%;
	background: #660000;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate{
	100%{
		transform: scaleX(1);
	}
}
.progress-line.html span{
	width: 90%;
}
.progress-line.css span{
	width: 80%;
}
.progress-line.c span{
	width: 50%;
}
.progress-line.cplus span{
	width: 60%;
}
.progress-line.java span{
	width: 40%;
}
.progress-line.php span{
	width: 35%;
}
.progress-line.javascript span{
	width: 30%;
}
.progress-line.python span{
	width: 50%;
}
.progress-line.django span{
	width: 70%;
}
.progress-line.wordpress span{
	width: 70%;
}
.bar .progress-line span::before{
	position: absolute;
	content: " ";
	right: 0;
	top: -10px;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: black;
	opacity: 0;
	animation: showtext2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after{
	position: absolute;
	right: 0;
	top: -35px;
	color: #fff;
	font-weight: 500;
	background: black;
	padding: 3px 3px;
	border-radius: 3px;
	font-size: 15px;
	opacity: 0;
	animation: showtext2 0.5s 1.5s linear forwards;
}
@keyframes showtext2{
	100%{
		opacity: 1;
	}
}
.progress-line.html span::after{
	content: '80%';
}
.progress-line.css span::after{
	content: '70%';
}
.progress-line.c span::after{
	content: '40%';
}
.progress-line.cplus span::after{
	content: '50%';
}
.progress-line.java span::after{
	content: '10%';
}
.progress-line.php span::after{
	content: '15%';
}
.progress-line.javascript span::after{
	content: '5%';
}
.progress-line.python span::after{
	content: '50%';
}
.progress-line.django span::after{
	content: '70%';
}
.progress-line.wordpress span::after{
	content: '70%';
}
@media only screen and (max-width: 1000px) {
	.skills-bar .bar{
		display: block;
	}
  }

